set-option -g default-terminal "screen-256color"
set-option -sa terminal-overrides ',XXX:RGB'

set -g history-limit 5000 # boost history
set -g mouse on
set -sg escape-time 0

# reload config file (change file location to your the tmux.conf you want to use)
bind r source-file ~/.tmux.conf
bind v split-window -h
bind h split-window -v
