export ZSH=$HOME/.oh-my-zsh
ZSH_THEME={{zsh_theme}}
plugins=(git asdf)
source $ZSH/oh-my-zsh.sh

export PATH=$HOME/bin:/snap/bin:$PATH
export LANGUAGE={{locale}}
export LANG={{locale}}
export LC_ALL={{locale}}

eval "$(direnv hook zsh)"
source "/usr/share/autojump/autojump.sh"

export NVM_DIR=~/.nvm
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

alias dropdb="dropdb -h localhost -U {{postgres_user}}"
alias createdb="createdb -h localhost -U {{postgres_user}}"
alias psql="psql -h localhost -U {{postgres_user}}"